*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
#getInfo{
    background: #000;
    color: #fff;
    font-size: 2rem;
    padding: 15px;
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
} 
.resultado{
   font-size: 2rem;
}
